
@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');
.body{ 
    text-align: center;
 }
 #app {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto minmax(100vh, 1fr) auto;
    font-family: 'Belleza', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #14004f;
    background-color: #ffea9e;
  }
  
  nav {
    padding: 30px;
  }
  
  nav a, .bi {
    font-weight: bold;
    color: #2c3e50;
  }
  
  nav a.router-link-exact-active {
    color:#ffeca8!important;
  }
  .home{
    background-color: #ffea9e;
    background-attachment: fixed;
    height: 100%;
  }
  .photo{ 
    border-radius: 100%;
    width: 29rem;
    margin-top: 3rem;
    /* padding: 3rem; */
  }
  .photo:hover{
    /* transform: scale(1.1) !important;
    transition: transform .2s !important; */
    /* padding: 50px; */
    /* background-color: green; */
     transition: ease-in 0.2s !important;
    /*width: 32rem; 
    height: 32rem; */
    /* margin: 0 auto; */
    transform: scale(1.1) !important;
  }

  .text{
    margin-top: 16rem;
    
  }
  ::-webkit-scrollbar{
      display: none;
  }
  .card-body{
    padding-bottom:rem;
  }
  .btnproject{ 
    background-color:#14004f;
    color: #ffea9e;
    margin: 2rem;
    border-radius: 0.3rem;
    border: none;
    /* font-size: 18/px; */
    padding: 6px;

  }

  .pic-about{ 
    border-radius: 100%;
    width: 37rem;
    padding: 3rem;
  }
  .col-text{ 
    font-size: 1.5rem;
  }
  .btn-con{ 
    background-color:#14004f;
    color: #ffea9e;
    margin: 1rem;
    
  }
  .p-5{ 
    width: 90%;
    margin: auto;

  }
   .bi:hover{ 
    color: #ffea9e;
  }
  #iconskills{ 
    font-size: 5rem;
    color:#14004f;
    color: red;
    background-color: black;
  }

  .headskill{ 
    padding: 3rem;
  }

  /* .headedu{ 
    padding: 3rem;
    font-size: 5rem;
  } */
.card:hover{
  transform: scale(1.1);
}
.col-text{ 
  padding-top: 3rem;
}

.art{
  height: 21rem;
  margin: 1rem;
  border: 1rem solid #ffffff;;
}
.art:hover{
    transform: scale(1.1) !important;
}

.btnproject:hover{
  transform: scale(1.1) !important;
}
h1{
  font-size: 3rem;
}
@media only screen and (max-width: 800px){
  .pas{
    font-size: 3.8rem;
  }
  .homehead{
    font-size: 3rem !important;
  }
  .col-text{
  font-size: 1.2rem !important;
  text-align: left;}
}


html {
  overflow-x: hidden;
}
