 .body{ 
    text-align: center;
 }
 #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #14004f;
  }
  
  nav {
    padding: 30px;
  }
  
  nav a {
    font-weight: bold;
    color: #2c3e50;
  }
  
  nav a.router-link-exact-active {
    color:#ffeca8!important;
  }
  .home{
    background-color: #ffea9e;
  }
  .photo{ 
    border-radius: 100%;
    width: 37rem;
    padding: 3rem;
  }
  .text{
    margin-top: 16rem;
    
  }
  ::-webkit-scrollbar{
      display: none;
  }
  .card-body{
    padding-bottom:rem;
  }