
@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');
.body{ 
    text-align: center;
 }
 #app {
    font-family: 'Belleza', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #14004f;
  }
  
  nav {
    padding: 30px;
  }
  
  nav a, .bi {
    font-weight: bold;
    color: #2c3e50;
  }
  
  nav a.router-link-exact-active {
    color:#ffeca8!important;
  }
  .home{
    background-color: #ffea9e;
  }
  .photo{ 
    border-radius: 100%;
    width: 37rem;
    padding: 3rem;
  }
  .text{
    margin-top: 16rem;
    
  }
  ::-webkit-scrollbar{
      display: none;
  }
  .card-body{
    padding-bottom:rem;
  }
  .btnproject{ 
    background-color:#14004f;
    color: #ffea9e;
    margin: 1rem;
    border-radius: 0.3rem;
    border: none;
  }

  .pic-about{ 
    border-radius: 100%;
    width: 37rem;
    padding: 3rem;
  }
  .col-text{ 
    font-size: 1.5rem;
  }
  .btn-con{ 
    background-color:#14004f;
    color: #ffea9e;
    margin: 1rem;
    
  }
  .p-5{ 
    width: 90%;
    margin: auto;

  }
   .bi:hover{ 
    color: #ffea9e;
  }
  #iconskills{ 
    font-size: 5rem;
    color:#14004f;
  }

  .headskill{ 
    padding: 3rem;
  }

  .headedu{ 
    padding: 3rem;

  }
.card:hover{
  transform: scale(1.1);
}
.col-text{ 
  padding-top: 3rem;
}
